<div class="row">
	<div class="col-md-12">	



		<h1>Favorited by:</h1>
			

				<div id="{{uid}}" class="jumbotron user_snippet">
					  				<img id="img_snippet" src="#" class="prof_thumbnail">
					  				<div class="snippet_text">
										<p> Name: {{nameSuper}}</p>
										<p> Gender: {{gender}}</p>
										<p> Superpower: {{superPower}}</p>
					  				</div>
				</div><!-- end user snippet-->









	</div>
</div>