body {
  background-color: #04E49C; }

#pow {
  margin-top: -27em;
  z-index: -1;
  position: relative;
  padding-top: 0px; }

img {
  padding-top: 50px; }

.loginScreen {
  margin-top: 250px; }
  .loginScreen button {
    margin-right: 30px; }

#login {
  margin-left: 1em;
  text-align: center;
  text-decoration: none;
  color: #FF6260;
  font-size: 100px; }

#login:hover {
  cursor: pointer;
  color: #FF6260;
  font-size: 150px;
  text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5; }

.emph {
  font-weight: bold; }

#nav_profile_image {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 50px; }

#main_output {
  min-height: 800px;
  background-image: url("https://images.unsplash.com/photo-1423589989400-cc0270157ed0?ixlib=rb-0.3.5&q=80&fm=jpg&s=83076037343ea05ac4194b9b4a0c63c6");
  background-position: center center;
  background-size: cover;
  margin-top: 50px; }
  #main_output h1 {
    text-align: center; }
  #main_output .row {
    height: 100%;
    min-height: 800px; }
  #main_output #filer-panel {
    height: 100%;
    min-height: 800px; }
    #main_output #filer-panel .filter-item {
      margin-top: 10px; }
    #main_output #filer-panel .filter-item:first-of-type {
      margin-top: 30px; }
    #main_output #filer-panel .filter-btn {
      margin-top: 30px; }
  #main_output #user-output {
    height: 100%;
    min-height: 800px; }
    #main_output #user-output .user_snippet {
      margin-top: 30px;
      height: 200px;
      margin-left: 10%;
      width: 80%;
      cursor: pointer; }
      #main_output #user-output .user_snippet img {
        padding-top: 0px; }
    #main_output #user-output .jumbotron .snippet_text {
      display: inline-block;
      margin-left: 20px;
      vertical-align: text-top;
      position: relative;
      margin-top: -20px; }
    #main_output #user-output .prof_thumbnail {
      width: 150px;
      height: 150px;
      position: relative;
      margin-top: -30px;
      margin-left: -20px;
      display: inline-block;
      vertical-align: text-top; }

#user_profile_panel {
  display: none;
  width: 90%;
  height: 600px;
  border-radius: 5px;
  margin-left: 5%;
  box-shadow: 1px 1px 10px #908E8E;
  position: absolute;
  top: 80px;
  z-index: 5;
  overflow: hidden; }
  #user_profile_panel #kill_panel {
    font-size: 4rem;
    right: 30px;
    position: absolute;
    cursor: pointer;
    top: -20px;
    z-index: 6; }
  #user_profile_panel #user_p_display {
    height: 110%;
    width: 100%;
    position: relative;
    margin-top: 100px; }
  #user_profile_panel #column2 #profile-photo {
    height: 300px;
    width: 300px;
    display: block;
    padding-top: 0px; }
  #user_profile_panel #column2 #like-button {
    display: block; }

#signed_in_user_profile_panel {
  display: none;
  width: 100%;
  min-height: 700px;
  background-color: whitesmoke; }
  #signed_in_user_profile_panel #profile-photo {
    height: 300px;
    width: 300px;
    display: block; }

.favorited_image_snippet {
  height: 300px;
  width: 300px; }

#edit_panel {
  display: none; }

/*# sourceMappingURL=main.css.map */
